syntax: glob

node_modules

# Python
*.pyc

# Vagrant
.vagrant

# Debian
*.deb

# OSX
.DS_Store

# Misc
*.log
*.log.1
*.log.2
*.log.3
*.log.4
*.log.5
*.orig
*.bak
*.class
*~
*.old

# IDEA
*.iml
*.iws
*.ipr
*.idea

# Java
out/
target/
classes/
tmp/
dist/
test-out/

# Eclipse
.project
.settings
.classpath
.manager

# SCM
.svn
.hg*

# DB
*.sqlite3
*.db

# Vim
*.swp

# Rope
.ropeproject
